.textInput {
  display: flex;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 18px;
  line-height: 1.5;
  border: none;
  background-color: var(--list-background-color);
  color: var(--text-color);
}

.textInput:focus {
  outline: none;
}

.textInput::placeholder {
  color: #cccccc;
  font-size: 18px;
}

.addButton {
  all: unset;
  cursor: pointer;
  font-weight: 900;
  font-size: 18px;
  color: var(--inactive-color);
  letter-spacing: 0;
  transition: all 0.3s ease-out;
}

.buttonActive {
  color: var(--button-color);
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  box-shadow: 0px -1px 0px var(--inactive-color) inset;
  padding-bottom: 16px;
  margin-top: 32px;
  transition: all 0.3s ease-out;
}

.wrapperActive {
  box-shadow: 0px -2px 0px var(--primary-color) inset;
}

.plusWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus {
  position: relative;
  width: 26px;
  height: 26px;
}

.plus:before,
.plus:after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  border-radius: 1px;
}

.plus:before {
  left: 50%;
  top: 3px;
  bottom: 3px;
  width: 3px;
  border-radius: 1.5px;
  transform: translateX(-50%);
}

.plus:after {
  top: 50%;
  left: 3px;
  right: 3px;
  height: 3px;
  border-radius: 1.5px;
  transform: translateY(-50%);
}
